
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: gray;
}

.tableau {

    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    gap: 10px;

}

h2 {
    padding: 10px 5px;
}

.personnages {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #363636;

}

input {
}

button, input {
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.2s;
}

button:hover {

    cursor: pointer;
    background-color: black;
    color: white;
}

.personnages {
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

table {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

thead {
    background-color: lightgray;
}

tr:nth-child(3) td:nth-child(2)
{background-color: yellow;}

.tb1 {
    background-color: lightgreen;
}
.tb2 {
    background-color: lightpink;
}
.tb3 {
    background-color: lightcoral;
}

.options {
    margin: 5px 5px;
}

