
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: gray;
    padding: 10px;
}

.title {
    display: flex;
    align-items: center;
    margin: 5px auto;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}

.title-img {
    width: 100px;
    transition: 0.2s;
}

.title-img:hover {
    scale: 1.2;
}

.tableau {

    width: 750px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    gap: 10px;

}

h2 {
    padding: 10px 5px;
}

.personnages {
    width: 100%;
    border: 1px solid black;
    /*padding: 15px;*/
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #363636;

    margin: auto;
    padding: 5px;
    border-radius: 5px;

}

input {
}

button, input {
    width: 100%;
    padding: 5px 0;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.2s;
}

button:hover {

    cursor: pointer;
    background-color: black;
    color: white;
}


table {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

thead {
    background-color: lightgray;
}

/*tr:nth-child(3) td:nth-child(2) {*/
/*    background-color: yellow;*/
/*}*/

.tb1 {
    background-color: lightgreen;
}
.tb2 {
    background-color: lightpink;
}
.tb3 {
    background-color: lightcoral;
}

.options {
    margin: 5px 5px;
}

.red {
    color: white;
    background-color: red;
}

.remove {
    color: white;
    background-color: orange;
}

.new-perso {
    width: 30%;
    text-align: center;
}

